/* 
  Font declarations
*/
@font-face {
  font-family: 'OpenSansNormal';
  src: url('./fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('./fonts/OpenSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('./fonts/OpenSans-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('./fonts/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('./fonts/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

.bold {
  font-family: OpenSansBold;
  font-weight: normal;
  font-style: normal;
}

.italic {
  font-family: OpenSansItalic;
  font-weight: normal;
  font-style: normal;
}

.normal {
  font-family: OpenSansNormal;
  font-weight: normal;
  font-style: normal;
}

/*
  Full-page Spacing and Reset
*/
section {
  max-width: 980px;
  display: block;
  margin: 50px auto;
}

/*
  Font Sizes
*/

html, body {
  font-size: 16px;

}

.title {
  font-size: 4rem;
  line-height: 6rem;
  font-family: OpenSansSemiBold;
}

.subtitle {
  font-size: 2rem;
  line-height: 3rem;
  font-family: OpenSansNormal;
}

.content {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: OpenSansLight;
  font-weight: normal;
  font-style: normal;
}


/* 
  Title, Subtitle, and Body
*/

